<?xml version="1.0"?>
<launch>
  <arg name="map_name" default="simple_map"/>
  <!-- Run the map server --> 
  <node name="map_server" pkg="map_server" type="map_server" args="$(find taurob_mapping)/maps/$(arg map_name).yaml"/>

  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 map odom 100"/>
  <!--- Run AMCL --> 
  <include file="$(find taurob_tracker_navigation)/launch/amcl.launch" />
</launch> 
