<?xml version="1.0"?>
<!-- Launches navigation. Still not good, and can run into walls -->

<launch>
  <master auto="start"/>



 <!-- Run the map server --> 
    <arg name="map_name" default="maze"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(find taurob_mapping)/maps/$(arg map_name).yaml"/>

  <!-- Place map frame at odometry frame -->
  <node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster"
      args="0 0 0 0 0 0 map odom 100"/>

  <!-- Localization node. Estimates relative position between robot and the map on /map topic -->
  <node name="taurob_amcl" pkg="amcl" type="amcl">
    <remap from="scan" to="taurob_tracker/laser_scan"/>
    <param name="odom_model_type" value="diff-corrected"/> <!-- To get new version -->

    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" value="chassis_link"/>
    <param name="update_min_d" value="0.5"/>
    <param name="update_min_a" value="1.0"/>
  </node>


  <!-- Move base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find taurob_mapping)/old_config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find taurob_mapping)/old_config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find taurob_mapping)/old_config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find taurob_mapping)/old_config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find taurob_mapping)/old_config/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find taurob_mapping)/old_config/dwa_local_planner_params.yaml" command="load" />

    <remap from="cmd_vel" to="taurob_tracker/cmd_vel_raw"/>
    <remap from="odom" to="odom"/>
    <remap from="scan" to="taurob_tracker/laser_scan"/>
    <param name="move_base/DWAPlannerROS/yaw_goal_tolerance" value="1.0"/>
    <param name="move_base/DWAPlannerROS/xy_goal_tolerance" value="1.0"/>

  </node>

</launch>
