<launch>
  <!-- Collects mapname. Takes in the "core filename" without path or filetype -->
  <arg name="map_name" default="new_map"/>
  <!-- Map node. Publishes the given map on /map topic-->
  <node name="taurob_map_node" pkg="map_server" type="map_server" args="$(find taurob_tracker_slam)/maps/$(arg map_name).yaml" />

  <!-- AMCL node. Estimates relative position between robot and the map on /map topic -->
  <node name="taurob_amcl" pkg="amcl" type="amcl">
    <remap from="scan" to="taurob_tracker/laser_scan"/>
    <param name="odom_model_type" value="diff-corrected"/> <!-- To get new version -->
  </node>
</launch>
